<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">




    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



    
    <link rel="stylesheet" type="text/css" href="css/menu.css" />
    <!--<link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />-->



    <link href="css\animation.css" rel="stylesheet" type="text/css">
    <link href="css\style.css" rel="stylesheet" type="text/css">
    <link href="css\modal.css" rel="stylesheet" />
</head>
<body ng-app="app" ng-controller="ctrl-root">

    <div id="main" class="container-fluid">



        <div id="header" ng-controller="ctrl-profile" class="col-lg-4 col-md-4 animated bounceInLeft">
            <div>
                <img class="avatar img-responsive animated fadeInDownBig" ng-src="{{avatar}}" />
            </div>
            <div class="profile">
                <div class="biography">
                    <img class="col-lg-2" src="images\profile.png" />
                    <div class="col-lg-10">
                        <h2 class="animated fadeInDownBig">{{name}}</h2>
                        <h4 id="headline" class="animated fadeInDownBig">{{headline}}</h4>
                        <i>birthday</i>
                        <p>{{birthday}}</p>
                        <i>nationality</i>
                        <p>{{nationality}}</p>
                    </div>
                </div>
                <div class="biography">
                    <img class="col-lg-2" src="images\phone.png" />
                    <div class="col-lg-10">
                        <i>mobile</i>
                        <p>{{phone.mobile}}</p>
                        <i>office</i>
                        <p>{{phone.office}}</p>
                    </div>
                </div>
                <div class="biography">
                    <img class="col-lg-2" src="images\email.png" />
                    <div class="col-lg-10">
                        <i>email</i>
                        <p>{{email}}</p>
                    </div>
                </div>
                <div class="biography">
                    <img class="col-lg-2" src="images\home.png" />
                    <div class="col-lg-10">
                        <i>home</i>
                        <p>{{address.home}}</p>
                        <i>office</i>
                        <p>{{address.office}}</p>
                    </div>
                </div>
            </div>


        </div>



        <div id="background" ng-controller="ctrl-background" class="col-lg-8 col-md-8 animated bounceInRight">
            <div id="summary">
                <div class="header">
                    <img src="images\summary.png" />
                    <h3 class="header-title animated bounceInDown">Summary</h3>
                </div>
                <div class="content">
                    <p>{{summary}}</p>
                </div>
            </div>
            <div id="experience">
                <div class="header">
                    <img src="images\experience.png" />
                    <h3 class="header-title animated bounceInDown">Experience</h3>
                </div>
                <div class="content" ng-repeat="exp in experience">
                    <div class="intro">
                        <div>
                            <img class="logo" ng-src="{{exp.avatar}}" />
                        </div>
                        <div class="exp-info">
                            <b class="title">{{exp.title}}</b>
                            <p class="company">{{exp.company}}</p>
                            <div>
                                <p class="time">{{exp.time}}</p>
                                <p class="location">{{exp.location}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <p>{{exp.description}}</p>
                        <img data-toggle="modal" data-target="#img-modal" ng-click="enlarge(img)" class="animated rollIn gallery img-responsive" ng-repeat="img in exp.image" ng-src="{{img}}" />
                    </div>
                </div>
            </div>
            <div id="project">
                <div class="header">
                    <img src="images\project.png" />
                    <h3 class="header-title animated bounceInDown">Projects</h3>
                </div>
                <div class="content" ng-repeat="prj in project">
                    <div class="prj-info">
                        <a href="{{prj.url}}">
                            <b class="title">{{prj.name}}</b>
                        </a>
                        <p class="occupation">{{prj.occupation}}</p>
                        <p class="time">{{prj.time}}</p>
                    </div>
                    <p>{{prj.description}}</p>
                </div>
            </div>
            <div id="skills">
                <div class="header">
                    <img src="images\skill.png" />
                    <h3 class="header-title animated bounceInDown">Skills</h3>
                </div>
                <div class="content">
                    <h3>Top skills</h3>
                    <div class="top-skill" ng-repeat="sk in skill.top">
                        <div class="skill-exp">
                            {{sk.xp}}
                        </div>
                        <div class="skill-name">
                            <p>{{sk.name}}</p>
                        </div>
                    </div>
                    <hr />
                    <h3>Other skills</h3>
                    <div class="other-skill" ng-repeat="sk in skill.other">
                        <div class="skill-exp">
                            {{sk.xp}}
                        </div>
                        <div class="skill-name">
                            <p>{{sk.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="education">
                <div class="header">
                    <img src="images\education.png" />
                    <h3 class="header-title animated bounceInDown">Education</h3>
                </div>
                <div class="content" ng-repeat="edu in education">
                    <div class="intro">
                        <div>
                            <img class="logo" ng-src="{{edu.avatar}}" />
                        </div>

                        <div class="edu-info">
                            <b class="school title">{{edu.school}}</b>
                            <div>
                                <p>{{edu.degree}}</p>
                                <p> | </p>
                                <p>{{edu.major}}</p>
                                <p> | </p>
                                <p class="edu-grade">{{edu.grade}}</p>
                            </div>
                            <p class="time">{{edu.time}}</p>
                        </div>
                    </div>
                    <div class="description">
                        <p>{{edu.description}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="img-modal" role="dialog" ng-controller="ctrl-img">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive big-img" ng-src="{{imgSrc}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editor-modal" role="dialog" ng-controller="ctrl-editor">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="editor" onload="loaded()" ng-include="src">
                        <!--<ng-include src="src"></ng-include>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="component col-lg-12">
        <button class="cn-button" id="cn-button">+</button>
        <div class="cn-wrapper" id="cn-wrapper">
            <ul>
                <li><a data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('profile', 1)"><span class="icon-headphones"></span></a></li>
                <li><a data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('summary', 2)"><span class="icon-home"></span></a></li>
                <li><a data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('experience', 2)"><span class="icon-facetime-video"></span></a></li>
                <li><a data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('project', 2)"><span class="icon-envelope-alt"></span></a></li>
                <li><a data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('skill', 2)"><span class="icon-facetime-video"></span></a></li>
                <li><a data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('education', 2)"><span class="icon-envelope-alt"></span></a></li>
            </ul>
        </div>
        <div id="cn-overlay" class="cn-overlay"></div>
    </div>-->

    <nav class="radialnav col-lg-12">
        <a href="#" class="ellipsis"><i class="fa fa-bars"></i></a>
        <ul class="menu">
            <li class="item" data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('profile', 1)"></li>
            <li class="item" data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('summary', 2)"></li>
            <li class="item" data-toggle="modal" data-target="#editor-modal" ng-click="openList('experience', 'title')"></li>
            <li class="item" data-toggle="modal" data-target="#editor-modal" ng-click="openList('project', 'name')"></li>
            <li class="item" data-toggle="modal" data-target="#editor-modal" ng-click="openEditor('skill', 2)"></li>
            <li class="item" data-toggle="modal" data-target="#editor-modal" ng-click="openList('education', 'school')"></li>
        </ul>
    </nav>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>





    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



    <!--<script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/polyfills.js"></script>
    <script src="js/menu.js"></script>-->
    <script src="js/menu.js"></script>



    <script src="js\script.js"></script>
    <script src="js\modal.js"></script>

</body>
</html>