<div class="img-wrap">
    <input class="browse" type="file" fil accept="image/*" />
    <img ng-click="browseImage()" class="img-responsive" ng-src="{{content.avatar}}" data-toggle="popover" data-trigger="hover" data-content="Click to change image">
</div>


<div class="form-group col-lg-8">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="content.name">
</div>

<div class="form-group col-lg-4">
    <label>Birthday</label>
    <input type="text" id="birthday" class="form-control" ng-model="content.birthday">
</div>

<div class="form-group col-lg-8">
    <label>Headline</label>
    <input type="text" class="form-control" ng-model="content.headline">
</div>

<div class="form-group col-lg-4">
    <label>Nationality</label>
    <input type="text" class="form-control" ng-model="content.nationality">
</div>

<div class="form-group col-lg-6">
    <label>Mobile phone number</label>
    <input type="text" class="form-control" ng-model="content.phone.mobile">
</div>

<div class="form-group col-lg-6">
    <label>Office phone number</label>
    <input type="text" class="form-control" ng-model="content.phone.office">
</div>

<div class="form-group col-lg-6">
    <label>Home address</label>
    <input type="text" class="form-control" ng-model="content.address.home">
</div>

<div class="form-group col-lg-6">
    <label>Office address</label>
    <input type="text" class="form-control" ng-model="content.address.office">
</div>

<div class="form-group col-lg-12">
    <label>Email</label>
    <input type="text" class="form-control" ng-model="content.email">
</div>