<div class="content">
    <h3>Top skills</h3>
    <div class="top-skill" ng-repeat="sk in content.skill.top">
        <div class="form-group modal-sk-xp">
            <label>Skill experience</label>
            <input type="number" class="form-control" ng-model="sk.xp" min="0" max="100">
        </div>
        <div class="form-group modal-sk-name">
            <label>Skill name</label>
            <input type="text" class="form-control" ng-model="sk.name">
        </div>

        <button ng-click="removeSkill('top', $index)" type="button" class="btn btn-info skill-remove">
            <span class="glyphicon glyphicon-bin"></span> Remove
        </button>
    </div>

    <div class="col-lg-12 skill-add">
        <button onclick="addSkill('top')" type="button" class="btn btn-info">Add new</button>
    </div>

    <hr />

    <h3>Other skills</h3>
    <div class="other-skill" ng-repeat="sk in content.skill.other">
        <div class="form-group modal-sk-xp">
            <label>Skill experience</label>
            <input type="number" class="form-control" ng-model="sk.xp" min="0" max="100">
        </div>
        <div class="form-group modal-sk-name">
            <label>Skill name</label>
            <input type="text" class="form-control" ng-model="sk.name">
        </div>

        <button type="button" class="btn btn-info skill-remove">
            <span class="glyphicon glyphicon-bin"></span> Remove
        </button>
    </div>

    <div class="col-lg-12 skill-add">
        <button onclick="addSkill('other')" type="button" class="btn btn-info">Add new</button>
    </div>

</div>