<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="app" ng-controller="ctrl-root">

    <div id="main" class="container-fluid">
        <div id="header" ng-controller="ctrl-profile" class="col-lg-4">
            <div>
                <img id="avatar" class="img-responsive" ng-src="{{avatar}}"/>
            </div>

            <div id="profile">
                <div id="biography">
                    <h2>{{name}}</h2>
                    <p id="headline">{{headline}}</p>
                    <div>
                        <p id="address">{{address}}</p>
                        <p id="industry">{{industry}}</p>
                    </div>
                    <p ng-repeat="cur in current" class="current">{{cur}}</p>
                    <p ng-repeat="pre in previous" class="previous">{{pre}}</p>
                    <p class="education">{{education}}</p>
                    <div id="subscribe">
                        <button id="btn-follow">Follow</button>
                        <a id="connect-link">

                        </a>
                    </div>
                </div>

                <div id="intro">
                    <div id="badge"></div>
                    <div if="follower">
                        <b></b>
                        <p></p>
                    </div>
                </div>
            </div>

        </div>

        <div id="background" ng-controller="ctrl-background" class="col-lg-8">
            <div id="summary">
                <div class="header">
                    <img src="images\summary.png"/>
                    <h3 class="header-title">Summary</h3>
                </div>

                <div class="content">
                    <p>{{summary}}</p>
                </div>
            </div>

            <div id="experience">
                <div class="header">
                    <img src="images\experience.png" />
                    <h3 class="header-title">Experience</h3>
                </div>

                <div class="content" ng-repeat="exp in experience">
                    <div class="intro">
                        <div class="exp-info col-lg-10">
                            <b class="title">{{exp.title}}</b>
                            <p class="company">{{exp.company}}</p>
                            <div>
                                <p class="time">{{exp.time}}</p>
                                <p class="location">{{exp.location}}</p>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <img ng-src="{{exp.logo}}" />
                        </div>
                    </div>

                    <div class="exp-description">
                        <p>{{exp.description}}</p>
                    </div>

                </div>
            </div>

            <div id="project">
                <div class="header">
                    <img src="images\\project.png"/>
                    <h3 class="header-title">Projects</h3>
                </div>

                <div class="content" ng-repeat="prj in project">
                    <div class="prj-info">
                        <a href="{{prj.url}}">
                            <b class="title">{{prj.name}}</b>
                        </a>
                        <p class="occupation">{{prj.occupation}}</p>
                        <p class="time">{{prj.time}}</p>
                    </div>
                    <p>{{prj.description}}</p>
                </div>
            </div>

            <div id="skills">
                <div class="header">
                    <img src="images\\skill.png"/>
                    <h3 class="header-title">Skills</h3>
                </div>

                <div class="content" ng-bind="skill">
                    <div class="top-skill" ng-repeat="sk in skill[0]">
                        <div class="skill-exp">
                            <p>{{sk.xp}}</p>
                        </div>
                        <div class="skill-name">
                            <p>{{sk.name}}</p>
                        </div>
                    </div>

                    <div class="other-skill" ng-repeat="sk in other-skill">
                        <div class="skill-exp">
                            <p>{{sk.xp}}</p>
                        </div>
                        <div class="skill-name">
                            <p>{{sk.name}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="education">
                <div class="header">
                    <img src="images\\education.png"/>
                    <h3 class="header-title">Education</h3>
                </div>

                <div class="content" ng-repeat="edu in education">
                    <div class="intro">
                        <div class="edu-info col-lg-10">
                            <b class="school title">{{edu.school}}</b>
                            <div>
                                <p>{{edu.degree}}</p>
                                <p> | </p>
                                <p>{{edu.major}}</p>
                                <p> | </p>
                                <p class="edu-grade">{{edu.grade}}</p>
                            </div>
                            <p class="time">{{edu.time}}</p>
                        </div>

                        <div class="col-lg-2">
                            <img ng-src="{{edu.logo}}" />
                        </div>
                    </div>
                    <div class="exp-description">
                        <p>{{edu.description}}</p>
                    </div>
                   
                </div>
            </div>


        </div>

    </div>




    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
    <script src="js\script.js"></script>
    <script src="js\utils.js"></script>
</body>
</html>