.img-wrap
{
    margin-bottom:15px;
}

.img-wrap .browse {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
    opacity: 0;
    text-align: center;
    border-radius: 50%;
}
.img-wrap:hover .browse {
    opacity: 0;
}

.img-wrap > img
{
    margin:auto;
    display:block;
    cursor: pointer;
    background-color:#2196F3;
}

.intro-modal > div
{
    clear:both;
}

.list-header
{
    text-align:center;
}

textarea
{
    text-align:justify;
    margin-bottom:10px;
}

input[type=file]
{
    opacity:0;
}

.big-img
{
    width:800px;
    background-size:contain;
}

.modal-content
{
    display:block;
    overflow:auto;
}

#editor-modal > .modal-dialog
{
    width:800px;
}

#editor > .profile
{
    background-color: #448AFF;
    height:100%;
    width:80%;
}

#editor > .content
{
    margin-left:20px;
    margin-right:20px;
}

#datepicker
{
    position: relative; 
    z-index: 100000;
}

.summary-text
{
    margin-top:22px;
}

.modal-sk-xp {
    float: left;
}

.modal-sk-name {
    float: left;
}

.modal-sk-name > input
{
    width:200px;
}

.skill-remove
{
    margin-top:25px;
    margin-left:30px;
}

.skill-add
{
    margin-top:10px;
    clear:both;
    align-content:center;
    margin-bottom:15px;
}

input[type=number]
{
    width:80px;
    margin-right:30px;
}

hr
{
    clear:both;
}

.list-group-item
{
    display:inline-block;
    width:220px;
    margin-left:30px;
}

.center-btn
{
    margin:auto;
    display:block;
    margin-bottom:35px;
}
